.heroes {
  padding: 0;
  list-style-type: none;
}

.heroes .hero {
  display: flex;
  flex-direction: row;
}

.heroes .hero .badge,
.heroes .hero .name {
  display: flex;
  width: 50%;
  padding: 7px 7px;
} 

.heroes .hero .name {
  flex: 1;
  background-color: gainsboro;
  cursor: pointer;
}

.heroes .hero .name:hover {
  background-color: silver;
}

.heroes .hero .badge {
  flex: 0;
  background-color: silver;
}