<div *ngIf="hero">
  <div class="jumbotron">
    <h2>{{hero.name}}'s profile</h2>
    <small class="text-muted">You can preview or edit the information about your hero!</small> 
    
  </div>
  <table class="table table-striped">
    <tr>
      <th>hero id:</th>
      <th>hero name:</th>
      <th>hero race:</th>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="hero.id">
        </div>
      </td>
      <td>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="hero.name">
        </div>
      </td>
      <td>
        <div class="form-group">
          <select class="form-control" name="races" [(ngModel)]="hero.race" >
            <option *ngFor="let race of races" [value]="race">
              {{race}}
            </option>
          </select>
        </div>      
      </td>      
    </tr>
  </table>
  <p><button class="btn btn-info" (click)="goBack()">< Back</button></p>




</div>


