<div *ngIf="hero">
  <div class="jumbotron">
    <h2>{{hero.name}}'s profile</h2>
    <small class="text-muted">You can preview or edit the information about your hero!</small> 
    
  </div>
  <table class="table table-striped">
    <tr>
      <th>hero id:</th>
      <th>hero name:</th>
    </tr>
    <tr>
      <td>
        <h4><input type="text" class="form-control" [(ngModel)]="hero.id"></h4>
      </td>
      <td>
        <h4><input type="text" class="form-control" [(ngModel)]="hero.name"></h4>
      </td>
    </tr>
  </table>
  <p><button class="btn btn-info" (click)="goBack()">< Back</button></p>
</div>